<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <form>
        <h2>1. Que função você mais joga?</h2>
        <input type="radio" name="q1"/><label>Apenas Assassino</label><br>
        <input type="radio" name="q1"/><label>Mais de Assassino</label><br>
        <input type="radio" name="q1"/><label>Ambos igualmente</label><br>
        <input type="radio" name="q1"/><label>Mais de Sobrevivente</label><br>
        <input type="radio" name="q1"/><label>Apenas Sobrevivente</label><br>
        <hr>

        <h2>2.Você joga Dead by Daylight acompanhado?</h2>
        <input type="radio" name="q2"/><label>Jogo sozinho</label><br>
        <input type="radio" name="q2"/><label>Raramente jogo com amigos</label><br>
        <input type="radio" name="q2"/><label>Ocasionalmente jogo com amigos</label><br>
        <input type="radio" name="q2"/><label>Geralmente jogo com amigos</label><br>
        <input type="radio" name="q2"/><label>Apenas jogo com amigos</label><br>
        <hr>

        <h2>3. Como é seu grupo?</h2>
        <input type="radio" name="q3"/><label>Solo</label><br>
        <input type="radio" name="q3"/><label>Duo</label><br>
        <input type="radio" name="q3"/><label>Trio</label><br>
        <input type="radio" name="q3"/><label>Squad fechado</label><br>
        <input type="radio" name="q3"/><label>Partida customizada</label><br>
        <hr>

        <h2>4. Qual é seu Assassino favorito, em questão de gameplay?</h2>
        <input type="text">
        <hr>

        <h2>5. Como Sobrevivente, qual é seu Assassino favorito de jogar contra?</h2>
        <input type="text">
    </form>

    
    
</body>
</html>