<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Killers</title>
    <style>
        body{
            background-color: #10043a;
        }
        h1, h3 {
            color:aliceblue;
            font-family: Cambria;
        }
        p{
            color:aliceblue;
            font-family: Cambria;
        }
    </style>
</head>
<body>
    <h1>Killers</h1>
    <hr>
    <h3>The Trapper</h3>
    <p>The Trapper is an area-control Killer, able to apply pressure across the Map by placing deadly Bear Traps for Survivors to step in.
    <br>
    His personal Perks, Unnerving Presence, Brutal Strength, and Agitation, allow him to chase and carry Survivors more effectively.
    He is focused on physical attributes and making use of his strength and the Survivors' fear.</p>
</body>
</html>